streamlit~=1.48.0
pandas~=2.3.1
numpy~=2.2.6
scikit-learn~=1.7.1
bertopic[all]
nltk~=3.9.1
vaderSentiment

matplotlib~=3.10.5
sentence-transformers~=5.1.0
rank-bm25~=0.2.2
fitz~=0.0.1.dev2
pdfplumber~=0.11.7
pathlib~=1.0.1
langdetect~=1.0.9
PyPDF2~=3.0.1